*{
    margin: 0px;
    padding: 0px;
}
header nav{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
header nav a{
    text-decoration: none;
    margin: 0px 20px;

    color:lightslategrey;
    padding: 20px;
}
header nav a:hover{
    background-color:red;
    color: white;
}

.sectionFive svg{
    height: 30px;
}
.sectionOne {
    display: flex;
    justify-content: center;
    background-color: red;
}
.sectionThree{
    display: flex;
    justify-content: center;
}  
.sectionTwo .section-content h2{
    margin: 30px 0px;
}
.sectionOne-content-link{
    margin: 20px 0px;
}
.sectionOne-content-link a{
    font-weight: bold;
    color: red;
    margin-right: 10px;
}

.sectionTwo{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}
.sectionTwo div .section-content{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 2em;
    padding-bottom: 2em;

}

 .sectionTwo div .section-content .leftside h3{
     border-bottom: #ce181e solid .111em;
     display: inline-block;
 }

.sectionTwo div .section-content .rightside{
    display: flex;

}



 .sectionTwo .section-content .rightside div h3{
     margin-right: 1em;
     font-size: 1.78rem;
     line-height: 1.25;
     font-weight: 700;
     color: #484848;
 }
 .sectionTwo div .section-content .leftside .content-link a{
     color: red;
 }
 .sectionTwo .rightside .info .button{
     border: solid 1px red;
     background-color: red;
     border-radius: 5px;
     padding: 5px;
     margin-bottom: 5px;
     display: flex;
     justify-content: space-between;
 }
 .sectionTwo .rightside .info .button a{
     color: white;
     font-weight: bold;
     text-decoration: none;
 }
 .sectionTwo .rightside .info .button a span{
     color: white;
     font-weight: bold;
 }

 